trunk/myProject_spring/src/my-dataset.dtd

<!ELEMENT dataset (
    Dossier*,
    User*)>

<!ELEMENT Dossier EMPTY>
<!ATTLIST Dossier
    ID CDATA #REQUIRED
    LIBELLEDOSSIER CDATA #REQUIRED
    TYPEDOSSIER CDATA #REQUIRED
    PAYS CDATA #REQUIRED
    VILLE CDATA #REQUIRED
>

<!ELEMENT User EMPTY>
<!ATTLIST User
    ID CDATA #REQUIRED
    LOGIN CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
>

<!-- Customer(Customer ID, Tax ID, Name, Address, City, State, Zip, Phone)
    * Order(Order No, Customer ID, Invoice No, Date Placed, Date Promised, Terms, Status)
    * Order Line(Order No, Order Line No, Product Code, Qty)
    * Invoice(Invoice No, Customer ID, Order No, Date, Status)
    * Invoice Line(Invoice No, Invoice Line No, Product Code, Qty Shipped)
    * Product(Product Code, Product Description) -->


